<script setup lang="ts">
import { ref } from "vue";
import { mdiTableChair } from "@mdi/js";
import { useTableZone } from "@/stores/tableZone";
import TableDialog from "./TableDialog.vue";
const tablezone = useTableZone();

const openQr = () => {
  tablezone.dialog = true;
};
</script>

<template>
  <v-app-bar height="50" rounded color="#D93D44">
    <v-app-bar-title class="text-center text-white mt-4"
      >จัดการโต๊ะในร้าน</v-app-bar-title
    >
  </v-app-bar>
  <v-container>
    <v-row>
      <v-col style="background-color: #edc457">
        <h3>โซนที่ 1</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="item of tablezone.zone1" :key="item.id">
        <v-card
          class="mx-auto"
          max-width="200px"
          variant="outlined"
          style="background-color: "
        >
          <h2 style="text-align: center">{{ item.table }}</h2>
          <v-card-item>
            <div style="text-align: center">
              <v-img height="50px">
                <v-icon
                  :icon="mdiTableChair"
                  style="height: 50px; width: 50px"
                ></v-icon>
              </v-img>
            </div>
            <div style="text-align: center">
              <div class="text-p mb-1">จำนวนที่นั่ง: {{ item.people }}</div>
            </div>
          </v-card-item>
          <v-card-actions class="justify-center">
            <v-btn class="btnOpen" @click="openQr"> เปิดโต๊ะ </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col style="background-color: #edc457">
        <h3>โซนที่ 2</h3>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="item of tablezone.zone2" :key="item.id">
        <v-card class="mx-auto" max-width="200px" variant="outlined">
          <h2 style="text-align: center">{{ item.table }}</h2>
          <v-card-item>
            <div style="text-align: center">
              <v-img height="50px">
                <v-icon
                  :icon="mdiTableChair"
                  style="height: 50px; width: 50px"
                ></v-icon>
              </v-img>
            </div>
            <div style="text-align: center">
              <div class="text-p mb-1">จำนวนที่นั่ง: {{ item.people }}</div>
            </div>
          </v-card-item>
          <v-card-actions class="justify-center">
            <v-btn class="btnOpen" @click="openQr"> เปิดโต๊ะ </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
.btnOpen {
  background-color: seagreen;
  color: aliceblue;
}
</style>
