<script setup lang="ts">
import { ref } from "vue";
import { useTableZone } from "@/stores/tableZone";
import type Table from "@/Table";

const tablezone = useTableZone();

const clear = () => {
  tablezone.dialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tablezone.dialog" persistent width="500">
      <v-card>
        <v-card-title
          class="text-h4 text-center font-weight-bold"
          style="background-color: #d93d44; color: aliceblue"
          >Qr Code</v-card-title
        >
        <v-img
          max-height="400"
          max-width="500"
          src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg"
        ></v-img>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="clear">
            ปิด
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped></style>
