<script setup lang="ts">
import CardTable from "./CardTable.vue";
import { ref } from "vue";
import { mdiTableChair } from "@mdi/js";
import { useTableZone } from "@/stores/tableZone";
import TableDialog from "./TableDialog.vue";

const tablezone = useTableZone();
const changeColor = ref(true);
function toggleColor() {
  changeColor.value = !changeColor.value;
}
</script>

<template>
  <v-container>
    <v-row>
      <CardTable></CardTable>
      <TableDialog></TableDialog>
    </v-row>
  </v-container>
</template>

<style></style>
