<script setup lang="ts">
import { mdiMagnify } from "@mdi/js";
import { ref, computed } from "vue";
import { useSalary } from "@/stores/salaryPerson";
const salaryPay = useSalary();
let search = ref("");
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-toolbar color="white" flat style="height: 35px" class="rounded-pill">
          <v-col cols="12">
            <v-text-field
              label="Search employee..."
              color="brown"
              class="mt-n6 pl-5 pr-5"
              filled
              dense
              variant="underlined"
              background-color="grey lighten-4"
              style="width: 100%"
              :append-inner-icon="mdiMagnify"
              v-model="search"
            ></v-text-field>
          </v-col>
        </v-toolbar>
      </v-col>
    </v-row>
  </v-container>
  <v-app-bar height="50" rounded color="#D93D44">
    <v-app-bar-title class="text-center text-white mt-4">จัดการพนักงาน</v-app-bar-title>
  </v-app-bar>
  <v-col cols="12">
    <v-table class="con-l mt-n4">
    <thead>
      <tr class="text-body-2">
        <th class="text-left text-white">ลำดับ</th>
        <th class="text-left text-white">รหัสพนักงาน</th>
        <th class="text-left text-white">ชื่อพนักงาน</th>
        <th class="text-left text-white">ตำแหน่ง</th>
        <th class="text-left text-white">วันที่เข้างาน</th>
        <th class="text-left text-white">เข้างาน</th>
        <th class="text-left text-white">ออกงาน</th>
        <th class="text-left text-white">วันที่เข้างาน</th>
        <th class="text-left text-white">รายได้ต่อวัน</th>
        <th class="text-left text-white">สถานะ</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in salaryPay.mySalary" :key="item.id">
        <td>{{ index + 1 }}</td>
        <td>{{ item.idEmp }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.work}}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.inWork }}</td>
        <td>{{ item.outWork }}</td>
        <td>{{ item.countTime }}</td>
        <td>{{ item.salary }}</td>
        <td class="text-end pa-5">
          <v-btn class="btnDel">ชำระเงินแล้ว</v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
  </v-col>
</template>
<style scoped>
.con-l {
  height: 55vh;
  overflow-y: auto;
}
thead,
th {
  background-color: #6d6e6f;
}

td {
  font-size: 12px;
}
</style>