<script setup lang="ts">
import { mdiRoomService, mdiCash } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="8">
        <v-container style="overflow-y: auto; height: 600px">
          <v-row>
            <v-col cols="4" v-for="n in 12" :key="n">
              <v-card elevation="3">
                <v-card-title
                  class="text-h5 text-center font-weight-bold"
                  style="
                    background-color: #d93d44;
                    font-size: 20px;
                    color: aliceblue;">
                    โต๊ะที่ 4
                </v-card-title>
                <v-card-subtitle class="ma-2">
                  <v-list-item
                    :prepend-icon="mdiRoomService"
                    title=" ทานที่ร้าน">
                  </v-list-item>
                </v-card-subtitle>
                <v-card-subtitle class="ma-2">
                  <v-list-item
                    :prepend-icon="mdiCash"
                    title="150.00 ฿">
                  </v-list-item>
                </v-card-subtitle>
                <v-divider class="mx-4"></v-divider>
                <v-card-actions class="justify-center">
                  <v-btn color="error" class="ma-0"> ชำระเงิน </v-btn>
                  <v-btn color="secondary"> ดูบิล </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container></v-col>
      <v-col cols="4">
        <v-container>
          <v-col style="background-color: #d93d44; height: 600px"> </v-col>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
