<script setup lang="ts">
import { ref } from "vue";
import { RouterView } from "vue-router";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiAccount,
  mdiTableChair,
  mdiFileDocumentEditOutline,
  mdiFoodTurkey,
  mdiCashRegister,
  mdiBroom,
  mdiChefHat,
  mdiCurrencyUsd,
  mdiBeekeeper,
  // mdiCurrencyUsd,
} from "@mdi/js";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
const logout = () => {
  loginStore.logout();
};
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>
      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
      <v-btn @click="logout">Logout</v-btn>
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          :title="loginStore.loginName"
          subtitle="ตำเเหน่ง: เจ้าของร้าน"
        ></v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiAccount"
          title="User"
          value="user"
          to="/user"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiTableChair"
          title="Table"
          value="table"
          to="/table"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiFileDocumentEditOutline"
          title="Menu"
          value="menu"
          to="/menu"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiChefHat"
          title="Cook"
          value="cook"
          to="/cook"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiFoodTurkey"
          title="Serve"
          value="serve"
          to="/serve"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCashRegister"
          title="Cash"
          value="Cash"
          to="/cash"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiBroom"
          title="Clean"
          value="clean"
          to="/clean"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiBeekeeper"
          title="Stock"
          value="stock"
          to="/stock"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCurrencyUsd"
          title="Salary"
          value="salary"
          to="/salary"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>
