<script setup lang="ts">
import { mdiFood, mdiStoreClockOutline, mdiCartOutline } from "@mdi/js";
import { useFoodStore } from "@/stores/foodOrder";

const foodStore = useFoodStore();
</script>

<template>
  <v-bottom-navigation grow>
    <v-btn value="menu" to="/menu">
      <v-icon :icon="mdiFood"></v-icon>
      Menu
    </v-btn>

    <v-btn value="list" class="text-none" stacked to="/ConfirmMenu">
      <v-badge
        :content="foodStore.myOrder.length"
        color="error"
        v-if="foodStore.myOrder.length !== 0"
      >
        <v-icon :icon="mdiCartOutline"></v-icon>
      </v-badge>
      <v-icon :icon="mdiCartOutline" v-else></v-icon>
      List
    </v-btn>

    <v-btn value="status" class="none" stacked to="/StatusMenu">
      <v-icon :icon="mdiStoreClockOutline"></v-icon>
      Status
    </v-btn>
  </v-bottom-navigation>
</template>

<style></style>
