<script setup lang="ts">
import { ref } from "vue";

const tableList = ref([
  { id: 1, table: "โต๊ะ 1", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 2, table: "โต๊ะ 2", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 3, table: "โต๊ะ 3", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 4, table: "โต๊ะ 4", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 5, table: "โต๊ะ 5", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 6, table: "โต๊ะ 6", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 7, table: "โต๊ะ 7", tableStatus: "รอทำความสะอาด", checked: false },
  { id: 8, table: "โต๊ะ 8", tableStatus: "รอทำความสะอาด", checked: false },
]);

const deleteTable = (id: number): void => {
  const index = tableList.value.findIndex((item) => item.id === id);
  tableList.value.splice(index, 1);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col style="background-color: #60c3e1">
        <h1>สถานะการทำความสะอาดโต๊ะ</h1>
      </v-col>
    </v-row>
  </v-container>
  <v-container>
    <v-card class="card-frame pa-12 overflow-auto" height="500px">
      <v-row>
        <v-col cols="12">
          <v-table>
            <thead>
              <tr>
                <th class="font-weight-bold text-h5">เลขที่โต๊ะ</th>
                <th class="font-weight-bold text-h5">สถานะ</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of tableList" :key="item.id">
                <td class="text-sm-h6 text-black">
                  {{ item.table }}
                </td>
                <td class="text-sm-h6 text-red">
                  {{ item.tableStatus }}
                </td>
                <td class="text-end pa-5">
                  <v-btn class="btnDel" @click="deleteTable(item.id)">
                    เสร็จสิ้น
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>
<style>
.btnDel {
  background-color: seagreen;
  color: aliceblue;
}
</style>

<style scoped></style>
