<script setup lang="ts">
import { useCookStore } from "@/stores/quecook";
import type Quecook from "@/QueCook";
const queStore = useCookStore();
const deleteOrder = (index: number): void => {
  queStore.deleteQue(index);
};
const cookingOrder = (index: number, cook: Quecook): void => {
  queStore.cookingQue(index);
  cook.status = "กำลังทำอาหาร";
};

const FinishOrder = (index: number, finish: Quecook): void => {
  queStore.finishQue(index);
  finish.status = "เสร็จสิ้น";
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col style="background-color: #d93d44" class="ma-3 col">
        <h1 style="text-align: center; color: aliceblue">รอเตรียม</h1>
        <v-card
          class="pa-5 ma-5"
          outlined
          tile
          v-for="(item, index) of queStore.quewait"
          :key="index"
        >
          <v-card-titie>{{ index + 1 + ". " }}{{ item.menu }}</v-card-titie>
          <v-card-subtitle
            >{{ "โต๊ะที่ " + item.table + " "
            }}{{ "สถานะ: " + item.status }} </v-card-subtitle
          ><v-card-actions class="justify-center">
            <v-btn class="ma-2 btnCook" @click="cookingOrder(item.id, item)"
              >ทำอาหาร</v-btn
            >
            <v-btn class="ma-2 btnCancel" @click="deleteOrder(item.id)"
              >ยกเลิก</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col style="background-color: #fb9300" class="ma-3 col">
        <h1 style="text-align: center; color: aliceblue">กำลังทำอาหาร</h1>
        <v-card
          class="pa-5 ma-5"
          outlined
          tile
          v-for="(item, index) of queStore.quecook"
          :key="index"
        >
          <v-card-titie>{{ index + 1 + ". " }}{{ item.menu }} </v-card-titie>
          <v-card-subtitle
            >{{ "โต๊ะที่ " + item.table + " "
            }}{{ "สถานะ: " + item.status }} </v-card-subtitle
          ><v-card-actions class="justify-center">
            <v-btn class="ma-2 btnFinish" @click="FinishOrder(item.id, item)"
              >เสร็จสิ้น</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col style="background-color: #4caf50" class="ma-3 col">
        <h1 style="text-align: center; color: aliceblue">เสร็จสิ้น</h1>
        <v-card
          class="pa-5 ma-5"
          outlined
          tile
          v-for="(item, index) of queStore.quefinish"
          :key="index"
        >
          <v-card-titie>{{ index + 1 + ". " }}{{ item.menu }}</v-card-titie>
          <v-card-subtitle
            >{{ "โต๊ะที่ " + item.table + " " }}{{ "สถานะ: " + item.status }}
          </v-card-subtitle>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnCook {
  background-color: #ffc107;
}

.btnCancel {
  background-color: #f44336;
  color: aliceblue;
}

.btnFinish {
  background-color: #388e3c;
  color: aliceblue;
}
.col {
  height: 600px;
  overflow-y: auto;
}
</style>
