<script setup lang="ts">
import { mdiMagnify } from "@mdi/js";

import { useFoodStore } from "@/stores/foodOrder";
import { ref, computed } from "vue";
import BottomNav from "@/components/BottomNav.vue";
const foodStore = useFoodStore();

const addOrder = (index: number): void => {
  foodStore.addOrder(index);
};

let search = ref("");

let filterItem = computed(function () {
  return foodStore.menu.filter((item) => {
    if (!search.value) return item;
    return item.name.toLowerCase().includes(search.value.toLowerCase());
  });
});

const colorPick = (id: number) => {
  return id % 2 === 0 ? "bg-pri text-h3" : "bg-sec text-h3";
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-toolbar color="white" flat style="height: 35px" class="rounded-pill">
          <v-col cols="12">
            <v-text-field
              label="Search menu..."
              color="brown"
              class="mt-n6 pl-5 pr-5"
              filled
              dense
              variant="underlined"
              background-color="grey lighten-4"
              style="width: 100%"
              :append-inner-icon="mdiMagnify"
              v-model="search"
            ></v-text-field>
          </v-col>
        </v-toolbar>
      </v-col>
    </v-row>
    <v-row class="mt-n4">
      <v-col cols="12">
        <v-chip-group mandatory selected-class="text-green">
          <v-chip> All </v-chip>
          <v-chip> Food </v-chip>
          <v-chip> Dessert </v-chip>
          <v-chip> Drink </v-chip>
        </v-chip-group>
      </v-col>
    </v-row>
    <h4>Menu</h4>
  </v-container>
  <v-container class="con-f">
    <v-list
      v-for="item in filterItem"
      :key="item.id"
      style="background-color: transparent"
    >
      <v-card>
        <v-row>
          <v-btn
            @click="addOrder(item.id)"
            width="100%"
            height="100%"
            :class="colorPick(item.id)"
            class="justify-start"
          >
            <v-list-item>
              <template v-slot:prepend>
                <v-avatar size="120">
                  <v-img :src="item.img" class="menuPic"></v-img>
                </v-avatar>
              </template>
              <v-list-item-title class="text-start">{{
                item.name
              }}</v-list-item-title>
              <v-list-item-subtitle class="text-start"
                >{{ item.price }} บาท</v-list-item-subtitle
              >
            </v-list-item>
            <v-divider></v-divider>
          </v-btn>
        </v-row>
      </v-card>
    </v-list>
  </v-container>

  <BottomNav></BottomNav>
</template>

<style scoped>
.v-card.borderme {
  border: 2px solid #a58447 !important;
}

.v-card.borderout {
  border: 1px solid #bcaaa4 !important;
}

.black--text {
  color: black;
  font-weight: 600;
}

.catagoryPic {
  height: 90px;
  max-width: 100px;

  object-fit: contain;
}

.menuPic {
  object-fit: contain;
}

.bg-sec {
  background-color: rgb(254, 215, 174, 0.3);
}

.bg-pri {
  background-color: rgb(209, 235, 255, 0.3);
}

.con-f {
  max-height: 55vh;
  overflow-y: auto;
}

.con-l {
  height: 40vh;
  overflow-y: auto;
  background-color: rgb(255, 245, 228);
}

.right-corner {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgb(182, 226, 161);
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.5s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
</style>
