<script setup lang="ts">
import { mdiArrowDown, mdiArrowUp, mdiClose, mdiMagnify } from "@mdi/js";
import { useFoodStore } from "@/stores/foodOrder";

import { ref, computed } from "vue";
const foodStore = useFoodStore();

const addOrder = (index: number): void => {
  foodStore.addOrder(index);
};

const deleteOrder = (index: number): void => {
  foodStore.deleteOrder(index);
};

const colorPick = (id: number) => {
  return id % 2 === 0 ? "bg-pri text-h3" : "bg-sec text-h3";
};
</script>

<template>
  <!-- drawer right side-->
  <v-navigation-drawer
    location="right"
    width="540"
    color="rgb(255, 209, 209,0.6)"
  >
    <v-container>
      <v-row>
        <v-col class="text-center font-weight-bold mb-10">My Order</v-col>
      </v-row>
      <v-container class="con-l rounded-xl">
        <v-row>
          <v-col cols="12">
            <v-list
              lines="one"
              v-for="item in foodStore.myOrder"
              :key="item.id"
            >
              <v-list-item class="pt-6" :prepend-avatar="item.img">
                <v-row>
                  <v-col cols="4">
                    <v-list-item-title>{{ item.name }}</v-list-item-title>
                    <v-list-item-subtitle>
                      ราคา {{ item.price }} บาท
                    </v-list-item-subtitle>
                  </v-col>
                  <v-col cols="5">
                    <v-text-field
                      density="compact"
                      variant="solo"
                      :prepend-icon="mdiArrowDown"
                      :append-icon="mdiArrowUp"
                      single-line
                      hide-details
                      class="inputPrice"
                      v-model="item.qty"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="3" class="pr">
                    <v-btn
                      color="transparent"
                      flat
                      @click="deleteOrder(item.id)"
                    >
                      <v-icon :icon="mdiClose"> </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-list-item>
            </v-list>
          </v-col>
        </v-row>
      </v-container>

      <v-container>
        <v-row>
          <v-col cols="6">
            <h3 class="mb-5">Subtotal</h3>
            <h3 class="text-medium-emphasis pb-10">tax(7%)</h3>
          </v-col>
          <v-col cols="6"></v-col>
        </v-row>

        <v-divider style="border-style: dashed"></v-divider>
        <v-row class="mt-5">
          <v-col cols="6">
            <h3 class="mb-5">Total</h3>
          </v-col>
        </v-row>
      </v-container>
    </v-container>
    <v-container>
      <v-row class="right-corner">
        <v-col cols="12">
          <button class="custom-btn btn-16">Payment</button>
        </v-col>
      </v-row>
    </v-container>
  </v-navigation-drawer>

  <v-container>
    <v-row>
      <v-col>
        <v-toolbar color="rgba(0,0,0,0)" flat>
          <v-toolbar-title class="mt-n5">Category</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-col cols="12" sm="6" md="4">
            <v-text-field
              label="Search menu..."
              class="mt-1"
              color="brown"
              filled
              :append-icon="mdiMagnify"
              dense
              solo
              flat
              background-color="grey lighten-4"
              clearable
            ></v-text-field>
          </v-col>
        </v-toolbar>
      </v-col>
    </v-row>
    <v-item-group mandatory class="mt-n8">
      <v-container class="ma-0">
        <v-row justify="start" class="space">
          <v-col cols="6" md="3">
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#F6EFEF' : 'white'"
                :class="isSelected ? 'borderme' : 'borderout'"
                class="d-flex align-center rounded-lg mx-3"
                dark
                height="120"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-list-item three-line class="text-center">
                      <v-list-item-content>
                        <div class="justify-center">
                          <img
                            src="../../../public/all.png"
                            class="catagoryPic"
                          />
                        </div>
                        <v-list-item-subtitle
                          :class="isSelected ? 'brown--text' : 'black--text'"
                          class="caption"
                          >ALL</v-list-item-subtitle
                        >
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
          <v-col cols="6" md="3">
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#F6EFEF' : 'white'"
                :class="isSelected ? 'borderme' : 'borderout'"
                class="d-flex align-center rounded-lg mx-3"
                dark
                height="120"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-list-item three-line class="text-center">
                      <v-list-item-content>
                        <div class="justify-center">
                          <img
                            src="../../../public/01.png"
                            class="catagoryPic"
                          />
                        </div>
                        <v-list-item-subtitle
                          :class="isSelected ? 'brown--text' : 'black--text'"
                          class="caption"
                          >Food</v-list-item-subtitle
                        >
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
          <v-col cols="6" md="3">
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#F6EFEF' : 'white'"
                :class="isSelected ? 'borderme' : 'borderout'"
                class="d-flex align-center rounded-lg mx-3"
                dark
                height="120"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-list-item three-line class="text-center">
                      <v-list-item-content>
                        <div class="justify-center">
                          <img
                            src="../../../public/Dessert.png"
                            class="catagoryPic"
                          />
                        </div>
                        <v-list-item-subtitle
                          :class="isSelected ? 'brown--text' : 'black--text'"
                          class="caption"
                          >Dessert</v-list-item-subtitle
                        >
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
          <v-col cols="6" md="3">
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#F6EFEF' : 'white'"
                :class="isSelected ? 'borderme' : 'borderout'"
                class="d-flex align-center rounded-lg mx-3"
                dark
                height="120"
                @click="toggle"
                flat
              >
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-list-item three-line class="text-center">
                      <v-list-item-content>
                        <div class="justify-center">
                          <img
                            src="../../../public/Drink.png"
                            class="catagoryPic"
                          />
                        </div>
                        <v-list-item-subtitle
                          :class="isSelected ? 'brown--text' : 'black--text'"
                          class="caption"
                          >Drink</v-list-item-subtitle
                        >
                      </v-list-item-content>
                    </v-list-item>
                  </v-col>
                </v-row>
              </v-card>
            </v-item>
          </v-col>
        </v-row>
      </v-container>
    </v-item-group>
  </v-container>
  <v-divider></v-divider>

  <v-container class="con-f">
    <v-row>
      <v-col
        cols="12"
        md="3"
        sm="4"
        ma="4"
        v-for="item of foodStore.menu"
        :key="item.id"
      >
        <v-card elevation="5">
          <v-btn
            @click="addOrder(item.id)"
            height="280px"
            width="100%"
            :class="colorPick(item.id)"
          >
            <div>
              <v-img :src="item.img" class="menuPic"></v-img>
              <v-card-title class="caption mt-1"> {{ item.name }}</v-card-title>
              <v-card-subtitle class=""> {{ item.price }} บาท</v-card-subtitle>
            </div>
          </v-btn>
          <pre>{{ item }}</pre>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-card.borderme {
  border: 2px solid #a58447 !important;
}

.v-card.borderout {
  border: 1px solid #bcaaa4 !important;
}

.black--text {
  color: black;
  font-weight: 600;
}

.catagoryPic {
  height: 90px;
  max-width: 100px;

  object-fit: contain;
}

.menuPic {
  width: 300px;
  height: 150px;
  object-fit: contain;
}

.bg-sec {
  background-color: rgb(254, 215, 174, 0.3);
}

.bg-pri {
  background-color: rgb(209, 235, 255, 0.3);
}

.con-f {
  max-height: 65vh;
  overflow-y: auto;
}

.con-l {
  height: 40vh;
  overflow-y: auto;
  background-color: rgb(255, 245, 228);
}

.right-corner {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  background-color: rgb(182, 226, 161);
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
  outline: none;
}

.btn-16 {
  border: none;
  color: #000;
}
.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.5s ease;
}
.btn-16:hover {
  color: #000;
}
.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn-16:active {
  top: 2px;
}
</style>
