<script setup lang="ts">
import { mdiCartOutline, mdiArrowDown, mdiArrowUp, mdiClose } from "@mdi/js";
import { computed } from "vue";
import { useFoodStore } from "@/stores/foodOrder";
import BottomNav from "@/components/BottomNav.vue";
const foodStore = useFoodStore();

let sum = computed(function () {
  return foodStore.myOrder.reduce(
    (Sum, order) => order.price * order.qty + Sum,
    0
  );
});

const deleteOrder = (index: number): void => {
  foodStore.deleteOrder(index);
};
</script>
<template>
  <v-app-bar height="50" rounded color="#D93D44">
    <v-app-bar-title class="text-center text-white mt-4"
      >รายการที่สั่ง</v-app-bar-title
    >
  </v-app-bar>

  <v-table class="con-l mt-n4">
    <thead>
      <tr class="text-body-2">
        <th class="text-left text-white">ลำดับ</th>
        <th class="text-left text-white">รายการ</th>
        <th class="text-left text-white">จำนวน</th>
        <th class="text-left text-white">สถานะ</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in foodStore.myOrder" :key="item.id">
        <td>{{ index + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ "รอเตรียม" }}</td>
      </tr>
    </tbody>
  </v-table>
  <v-divider style="border-style: dashed" class="mt-2"></v-divider>
  <v-container>
    <v-row>
      <v-col cols="7">
        <h4>ยอดรวมทั้งหมด :</h4>
      </v-col>
      <v-col cols="5">
        <h4>{{ sum }}</h4>
      </v-col>
    </v-row>
  </v-container>

  <v-container>
    <v-row>
      <v-col cols="12" class="bt-c">
        <router-link to="/Menu"
          ><v-btn width="100%">Back to Menu</v-btn></router-link
        >
      </v-col>
    </v-row>
  </v-container>
  <BottomNav></BottomNav>
</template>
<style scoped>
.con-l {
  height: 55vh;
  overflow-y: auto;
}
thead,
th {
  background-color: #6d6e6f;
}

td {
  font-size: 12px;
}
</style>
