<script setup lang="ts">
import { useServeStore } from "@/stores/queserve";
import { useCookStore } from "@/stores/quecook";
import type QueServe from "@/QueServe";
const serveStore = useServeStore();
const served = (index: number, finish: QueServe): void => {
  serveStore.served(index);
  finish.status = "เสิร์ฟแล้ว";
};
</script>

<template>
  <v-container>
    <v-row>
      <v-col style="background-color: #d93d44" class="ma-3">
        <h1 style="text-align: center; color: aliceblue">รอเสิร์ฟ</h1>
        <v-card
          class="pa-5 ma-5"
          outlined
          tile
          v-for="(item, index) of serveStore.quefinish"
          :key="index"
        >
          <v-card-titie>{{ index + 1 + ". " }}{{ item.menu }}</v-card-titie>
          <v-card-subtitle
            >{{ "โต๊ะที่ " + item.table + "  " }}{{ "สถานะ: " + item.status }}
          </v-card-subtitle>
          <v-card-actions class="justify-center">
            <v-btn class="ma-2 btnServe" @click="served(item.id, item)"
              >เสิร์ฟ</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col style="background-color: #4caf50" class="ma-3">
        <h1 style="text-align: center; color: aliceblue">เสร็จสิ้น</h1>
        <v-card
          class="pa-5 ma-5"
          outlined
          tile
          v-for="(item, index) of serveStore.servefinish"
          :key="index"
        >
          <v-card-titie>{{ index + 1 + ". " }}{{ item.menu }}</v-card-titie>
          <v-card-subtitle
            >{{ "โต๊ะที่ " + item.table + "  " }}{{ "สถานะ: " + item.status }}
          </v-card-subtitle>
          <v-card-actions class="justify-center">
            <v-btn class="btnDelete">ลบ</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnServe {
  background-color: #388e3c;
  color: aliceblue;
}
.btnDelete {
  background-color: #ff3030;
  color: aliceblue;
  justify-content: center;
}
</style>
